<h2>📚 Reading List: [Category/Year]</h2>
<p><i>"A reader lives a thousand lives before he dies."</i></p>

<hr />
<h3>📖 Currently Reading</h3>
<p><b>Book:</b> [Title] by [Author]</p>
<p><b>Progress:</b> [X]%</p>

<hr />
<h3>📥 Up Next (Queue)</h3>
<ul data-type="taskList">
  <li data-checked="false">Book Title 1</li>
  <li data-checked="false">Book Title 2</li>
</ul>

<hr />
<h3>💎 Key Takeaways / Quotes</h3>
<blockquote>"The best way to predict the future is to create it."</blockquote>
<ul>
  <li>Learning A...</li>
  <li>Idea B...</li>
</ul>
